.Header {
	text-align: center;
	font-size: 5em;
	color: #AD2316;
	background-color: #3A0B01;
	font-family: Verdana;
}

.Menu {
	font-size: 1em;
	color: #C87A45;
	background-color: #2E0900;
	font-family: Verdana;
}

.Footer {
	margin: auto;
	width: 100%;
	background-color: #3A0B01;
	color: #AD2316;
	font-family: Verdana;
}

a {
	text-decoration: none;
}

a:visited {
	color: #AD2316;
}

a:link {
	color: #DFB07F;
}

p {
	color: #3A0B01;
}

td {
	padding: 6px;
	text-align: center;
}


div {
	background-color:#AD6837; 
}

