body {
	background-color: #AD6837;
}

h1 {
	text-align: center;
	color: #AD2316;
	font-family: 'Imprima', sans-serif;
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	color: #2E0900;
	font-family: 'Imprima', sans-serif;
}

.Header {
	background-color: #3A0B01;
}

.Menu {
	background-color: #2E0900;
}

.Sandwich {
	height:150px; 
	width:400px;
	display: block;
	margin: auto;
}

.main {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #2E0900;
	font-family: Verdana;
}

.Beverages {
	border: none;
}
.Beverages td {
	width: 50%;
}

.Drinks {
	text-align: right;
	font-family: Verdana;
}

.DrinkCost {
	text-align: left;
	font-family: Verdana;
}

a:link {
	color: #DFB07F;
}

a:visited {
	color: #AD2316;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

p {
	color: #2E0900;
	font-family: Verdana;
	text-align: center;
	margin: 5px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #2E0900;
	color: #DFB07F;
}

.footer p {
	color: #AD2316;
}
