#albumCover {
	height: 500px;
	width: 100%;
	background-image: url("http://cache.swdlive.com/image/altj/resize_1409513469.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

#albumTitle {
	height: 50px;
	width: 100%;
	font-family: 'Englebert';
	font-size: xx-large;
	text-align: center;
}

#bandPage {
	height: 30px;
	width: 100%;
	font-size: large;
	text-align: center;
	font-family: Verdana;
}

#Date {
	height: 30px;
	width: 100%;
	font-size: small;
	text-align: center;
	font-family: Verdana;
}	

#Members {
	height: 50px;
	width: 100%;
	font-family: 'Englebert';
	font-size: xx-large;
	text-align: center;
}

#List {
	font-style: italic;
	width: 100%;
	margin-left: 15%;
	font-family: Verdana;
}

.Spacer {
	width: 100%;
	height: 20px;
}

table {
	width:80%;
	margin: auto;
	font-family: Verdana;
}

caption {
	font-size: xx-large;
}

table td, th {
	border: 1px solid black;
}

table th {
	background-color: gray;
}

table td {
	font-style: italic;
	background-color: #e5ffee;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #e5ffee;
}

li {
	list-style-type: circle;
}