#albumCover {
	height: 500px;
	width: 100%;
	background-image: url("http://cache.swdlive.com/image/altj/resize_1409513469.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

#albumTitle {
	height: 50px;
	width: 100%;
	font-family: 'Englebert';
	font-size: xx-large;
	text-align: center;
}

#bandPage {
	height: 30px;
	width: 100%;
	font-size: large;
	text-align: center;
}

#Date {
	height: 30px;
	width: 100%;
	font-size: small;
	text-align: center;
}	

#Members {
	height: 50px;
	width: 100%;
	font-family: 'Englebert';
	font-size: xx-large;
	text-align: center;
}

#List {
	font-style: italic;
	width: 100%;
	margin-left: 15%;
}

.Spacer {
	width: 100%;
	height: 20px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: circle;
}