img {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#bandPage {
	height: 30px;
	width: 100%;
	font-size: large;
	text-align: center;
	font-family: Verdana;
}

h1 {
	font-family: 'Englebert';
	text-align: center;
}

h2 {
	text-align: center;
}

h5 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #e5ffee;
}

li {
	list-style-type: circle;
}